.box {
    background-color: tomato;
    color: white;
    font-size: 150%;
    padding: 20px;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    /* grid-template-columns: repeat(5, 200px); */
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}